body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 228, 228);
}

.rate {
    font-size: 40px;
}

span {
    transition: all 0.3s ease-in;
}

span:hover {
    cursor: pointer;
}

#collapsable {
    display: flex;
    justify-content: center;
}

#search-btn {
    background-color: rgb(116, 17, 236);
    color: white;
    margin-left: 0.5rem;
    border-radius: 3px;
    height: 30px;
    width:35px
    
}

#search-bar {
    text-align: center;
    border-radius: 3px;
    border: 2px solid black;
}

#ripple-btn {
    height: 60px;
    width:90px;
    cursor: pointer;
    color: white;
    margin: 1rem;
    border: 2ps solid black;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    background-color: rgb(168, 68, 68);
    font-size: 15px;
    transition: 0.8s;
    
}

#ripple-btn:focus {
    background: rgb(168, 68, 68) radial-gradient(circle, transparent 1%, rgb(205, 78, 101)1%)center/15000%;
}
#ripple-btn:active{
    background-color: rgb(72, 202, 75); 
    background-size: 100%; 
    transition: 0s;  
}

#popup-modal{
    margin-top:1.5rem;
}
#popup-btn{
    height: 30px;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: rgb(85, 222, 202);
    border:2px solid green;
    border-radius: 3px;
}
#popup-btn:hover{
    background-color: darkslategray;
    color: aliceblue;
    transition: all 0.8s ease;
}
#popupdisplay{
    padding: 0.8rem;
    width:10rem;
    height: 5rem; 
    background-color: rgb(53, 136, 219);
    position: absolute;
    margin-top:-3rem;
    border-radius: 8px;
    border:3px solid black
    
}

#closing-btn{
    background-color:red;
    color:white;
    border-radius: 4px ;
    margin-top: 1rem;
    margin-left: 4rem;
}
#closing-btn:hover{
    background-color: rgb(174, 117, 117);
    transition: all 0.3s ease-in;
}
#load-btn{
    margin-top: 1.5rem;
    margin-left: 2rem;
    background-color: blueviolet;
    color:white;
    height:30px;
    width:55px;
    border-radius: 4px;
}
#resulttxt{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}
#load-btn:hover{
    background-color: rgb(11, 11, 99);
    color:whitesmoke;
    transition: all 0.3s ease-in
}